@charset "utf-8";
html
{font-size: 16px;}
body 
{background-color: skyblue;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif}

h1
{font-size:xx-large}



h1
{font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;}
section {
    background-color: #ff0000;
}

#box1 {
    background-color: #ff0000;
}

#box2 {
    background-color: #ffff00;
}

#box3 {
    background-color: #008000;
}
.speciel{
        width: 500px; ;
        font-style:oblique;
        margin-right: 10;}


#bb1 
{font-size: 50px;
    background-image:https://profound-salamander-8b0fb0.netlify.app(img/codingnmr.jpg);
    color: #8a2be2;
    }
#bb2
    {font-size: 65px;
        background-image:https://profound-salamander-8b0fb0.netlify.app(img/sunriseyellow.jpg);
        
        }


.bf2 
{background-color: rgb(218, 170, 104);}

.bf3 
{background-color: rgb(104, 218, 163);}





